<script data-app-id="<%= @yammergration_yammer_staging_client_id %>" src="https://assets.staging.yammer.com/platform/yam.js"></script>

<h1>Javascript API (Staging)</h1>

<!-- Check status -->
<script>
yam.getLoginStatus(
	function(response) {
		if (response.authResponse) {
			$(document).ready(function() {
				loggedInNotice();
			});
		}
		else {
			$(document).ready(function() {
				loggedOutNotice();
			});
		}
	}
);
</script>

<!-- Log in -->
<script>
function logInToYammer() {
	yam.getLoginStatus(
		function(response) {
			if (response.authResponse) {
				loggedInNotice();
				console.dir(response);
			}
			else {
				loggedOutNotice();
				yam.login(function (response) {
					if (response.authResponse) {
						loggedInNotice();
						console.dir(response);
					}
					else {
						loggedOutNotice();
					}
				});
			}
		}
	);
}
</script>

<!-- Make a REST call -->
<script>
function postMessage () {
	yam.getLoginStatus(
		function(response) {
			if (response.authResponse) {
				loggedInNotice();
				yam.request({
					url: "/api/v1/messages.json",
					method: "POST",
					data: {
						"body": "@nmccarthy is great",
						"og_url": "http://www.google.com#vaf18yyysddeadsdfe"
					},
					success: function (users) {
						alert("The request was successful.");
						console.dir(users);
					},
					error: function (users) {
						alert("There was an error with the request.");
					}
				});
			}
			else {
				loggedOutNotice();
				alert("You can't post a message because you're not logged in.");
			}
		}
	);
}
</script>

<!-- Logout -->
<script>
function logOutOfYammer() {
  yam.getLoginStatus(
    function(response) {
	  if(response.authResponse) {
        yam.logout(function (response) {
          loggedOutNotice();
        })
      }
    }
  );
}
</script>

<p id="logInStatus"></p>
<p><a href="#" onclick="logInToYammer()">Log In With Yammer (yam.login)</a></p>
<p><a href="#" onclick="logOutOfYammer()">Log Out Of Yammer</a></p>
<p><a href="#" onclick="postMessage()">Post a Message</a></p>

<span id="yammer-login"></span>