<h1>Whatcha testing?</h1>

<ul>
	<li><a href="/yammer/login">Yammer Login</a></li>
	<li><a href="/facebook/login">Facebook Login</a></li>
	<li><a href="/twitter/login">Twitter Login</a></li>
	<li><a href="/google/login">Google Login</a></li>
	<li><a href="/open_graph_objects">Open Graph Objects</a></li>
	<li><a href="/client_side_flow">Javascript API</a></li>
</ul>