<h1>Whatcha testing?</h1>

<ul>
	<li>Yammer</li>
	<ul>
		<li><a href="/yammer/login">Yammer OAuth 2 Code Flow</a></li>
		<li><a href="/open_graph_objects">Yammer Embed OG Feed (Production and Staging)</a></li>
		<li style="color: #cccccc">Yammer Activity Stories (coming soon or maybe never)</li>
		<li><a href="/client_side_flow">Yammer Javascript API</a> (Production)</li>
		<li><a href="/client_side_flow_staging">Yammer Javascript API</a> (Staging)</li>
		<li><a href="/log_in_with_yammer_button">Log In With Yammer Button</a> (Production)</li>
		<li><a href="/log_in_with_yammer_button_staging">Log In With Yammer Button</a> (Staging)</li>
	</ul>
	<li>Facebook</li>
	<ul>
		<li><a href="/facebook/login">Facebook OAuth 2 Code Flow</a></li>
		<li><a href="/facebook/javascript_api">Facebook Javascript API</a></li>
	</ul>
	<li>Twitter</li>
	<ul>
		<li><a href="/twitter/login">Twitter OAuth 2 Code Flow</a></li>
	</ul>
	<li>Google</li>
	<ul>
		<li><a href="/google/login">Google OAuth 2 Code Flow</a></li>
	</ul>
</ul>