<h1>Whatcha testing?</h1>

<ul>
	<li>OAuth 2 Code Flows</li>
	<ul>
		<li><a href="/yammer/login">Yammer Login</a></li>
		<li><a href="/facebook/login">Facebook Login</a></li>
		<li><a href="/twitter/login">Twitter Login</a></li>
		<li><a href="/google/login">Google Login</a></li>
	</ul>
	<li>Yammer Open Graph</li>
	<ul>
		<li><a href="/open_graph_objects">Yammer Embed OG Feed</a></li>
		<li style="color: #cccccc">Yammer Activity Stories (coming soon or maybe never)</li>
	</ul>
	<li>Yammer Javascript API</li>
	<ul>
		<li><a href="/client_side_flow">Javascript API</a> (Production)</li>
		<li><a href="/client_side_flow_staging">Javascript API</a> (Staging)</li>
		<li><a href="/log_in_with_yammer_button">Log In With Yammer Button</a> (Production)</li>
		<li><a href="/log_in_with_yammer_button_staging">Log In With Yammer Button</a> (Staging)</li>
	</ul>
</ul>