<script>

function handleClick () {

  var group_id = document.getElementsByName("group_id")[0].value;
  // var body = document.getElementsByName("body")[0].value;
  // var og_url = document.getElementsByName("og_url")[0].value;
  // var og_object_type = document.getElementsByName("og_object_type")[0].value;
  // var og_title = document.getElementsByName("og_title")[0].value;
  // var og_description = document.getElementsByName("og_description")[0].value;

  yam.request({
    url: "https://www.yammer.com/api/v1/messages.json",
    method: "POST",
    data: { // http://developer.yammer.com/restapi/#rest-messages
      "group_id": group_id,
      "body": "i am neil",
    },
    success: function (user) { //print message response information to the console
      alert("The request was successful.");
      console.dir(user);
    },
    error: function (user) {
      alert("There was an error with the request.");
    }
  });

  return false; 
}

function writeForm () {
  document.write("<form id=\"ogoForm\">");
  document.write("Group: <input type=\"text\" name=\"group_id\" value=\"1119838\" /><br />");
  document.write("Post: <input type=\"text\" name=\"body\" value=\"Testing...\" /><br />");
  document.write("URL: <input type=\"text\" name=\"og_url\" value=\"http://google.com\" /><br />");
  document.write("Title: <input type=\"text\" name=\"og_title\" value=\"Google\" /><br />");
  document.write("Description: <input type=\"text\" name=\"og_description\" value=\"Don't be evil.\" /><br />");
  document.write("<input type=\"hidden\" name=\"og_object_type\" value=\"page\" ><br />");
  document.write("<button type=\"button\" onClick=\"handleClick()\" >Submit</button><br />");
  document.write("</form>");
}
</script>

<script>
yam.getLoginStatus(
  function(response) {
    if (response.authResponse) {
      console.log("logged in");
      console.dir(response); //print user information to the console
//      writeForm();
    }
    else {
      yam.login(function (response) { //prompt user to login and authorize your app, as necessary
        if (response.authResponse) {
          console.dir(response); //print user information to the console
//          writeForm();
        }
      });
    }
  }
);
</script>

<form id="ogoForm">
	Group: <input type="text" name="group_id" value="334649" /><br />
	Group: <input type="text" name="group_id" value="334649" /><br />
	Group: <input type="text" name="group_id" value="334649" /><br />
	Group: <input type="text" name="group_id" value="334649" /><br />
	Group: <input type="text" name="group_id" value="334649" /><br />
	<button type="button" onClick="handleClick()">Submit</button><br />
</form>